@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--text);
  background-color: var(--background);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
:root {
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
  --text: rgba(12, 12, 12, 0.7);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  margin: 0;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.92;
  letter-spacing: -0.02em;
  color: var(--main);
  margin-bottom: 40px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.accent {
  color: var(--accent);
}

.accent-grey {
  color: rgba(251, 251, 251, 0.5);
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* #region header */

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.logo {
  font-size: 20px;
  color: var(--main);
}

.nav {
  font-size: 14px;
  line-height: 1.29;
  color: var(--main);
}

.nav-link {
  display: block;
  padding: 30px 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.header-icons-link {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, fill;
}

.header-icons-link:hover,
.header-icons-link:focus {
  border-color: rgba(51, 80, 233, 0.1);
  fill: var(--accent);
}

.header-icons-list {
  display: flex;
  gap: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

/* #endregion header */

/* #region hero */

.hero-section {
  padding-top: 80px;
  padding-bottom: 50px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.9;
  color: var(--main);
  max-width: 597px;
  margin-bottom: 20px;
}

.hero-paragraph {
  max-width: 480px;
}

.hero-button {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  border: none;
  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent);
}
.hero-image-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/* #endregion hero */

/* #region about */

.about-wrapper {
  display: flex;
  gap: 40px;
}

.about-text-wrapper {
  background-color: var(--cards);
  border-radius: 50px;
  padding: 80px 60px;
}

.about-first-paragraph {
  margin-bottom: 20px;
}

.about-second-paragraph {
  margin-bottom: 40px;
}

.about-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--background);
  background-color: var(--accent);
  border-radius: 16px;
  border: none;
  padding: 15px 37px;
  width: 160px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.about-link:hover,
.about-link:focus {
  background-color: #1f3cd4;
}

/*  #endregion about */

/* #region catalog */

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 23px;
}

.catalog-list-item {
  background-color: var(--cards);
  width: calc((100% - 46px) / 3);
  padding: 30px 38px 24px;
  border-radius: 30px;
}

.catalog-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--main);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 8px;
}

.catalog-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: rgba(12, 12, 12, 0.5);
}

/* #endregion catalog */

/* #region contact-us*/

.contact-us-container {
  background-image: url(../images/background-image.png);
  background-color: var(--main);
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1150px;
  height: 298px;
  padding: 83px 80px;
  display: flex;
  justify-content: space-between;
}

.contact-us-title {
  color: var(--background);
  max-width: 690px;
}

.contact-us-btn {
  font-size: 14px;
  line-height: 1.29;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  height: 40px;
  padding: 15px 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--background);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color;
}

.contact-us-btn:hover,
.contact-us-btn:focus {
  background-color: var(--background);
  color: var(--main);
}

/* #endregion contact-us*/

/* #region sale */

.sale-description-container {
  background-color: #3350e9;
}

.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.12;
  color: var(--background);
}

.sale-product-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(251, 251, 251, 0.5);
}

.sale-current-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: var(--background);
}

.sale-old-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-item-description {
  color: var(--background);
}

.sale-item-pros {
  font-size: 14px;
  line-height: 1.29;
  color: var(--background);
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

/* #endregion sale */

/* #region reviews */

.reviews-subtitle {
  font-size: 18px;
  line-height: 1.1;
  color: var(--main);
}

.reviews-paragraph {
  color: rgba(12, 12, 12, 0.4);
}
/* #endregion reviews */

/* #region form */

.form-section {
  padding-bottom: 100px;
}

.form-instruction {
  color: rgba(12, 12, 12, 0.7);
}

/* #endregion form */

/* #region footer */

.footer {
  background-color: #0c0c0c;
}

.footer-logo {
  font-size: 20px;
  color: var(--background);
}

.footer-paragraph {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  color: var(--background);
}

.footer-address {
  font-size: 14px;
  line-height: 1.29;
  color: var(--background);
}

.footer-nav-item {
  font-size: 14px;
  line-height: 1.29;
  color: var(--background);
}

.footer-agreements {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(251, 251, 251, 0.5);
}
/* #endregion footer */
